// Colors
$main-color:            rgb(100, 135, 210);
$background-color:      rgb(219, 212, 202);
$message-time-color:    rgb(50, 50, 50);

// Fonts
$main-font:             'Open Sans', sans-serif;